<div class="jumbotron jumbotron-fluid bg-white border-bottom">
    <div class="container">
        <h1 class="display-7 text-dark">Reacuteserver un logement</h1>
    </div>
</div>
<mat-card class="logement-card" *ngFor="let logement of logements">
    <mat-card-header>
        <mat-card-title>{{logement.title}}</mat-card-title>
    </mat-card-header>
    <div class="card-content">
      <ngb-carousel *ngIf="logement.images" >
        <ng-template *ngFor="let images of logement.images" ngbSlide>
          <img class="carousel-img" [src]="images" alt={{logement.title}} width="256" height="256">
        </ng-template>
      </ngb-carousel>
        <mat-card-content>
            <p class="p-3">
                {{logement.description}}
            </p>
        </mat-card-content>
    </div>
    <mat-card-actions>
        <button class="btn btn-primary"><fa-icon [icon]="faPlus"></fa-icon> Ajouter au panier </button>
    </mat-card-actions>
</mat-card>
