.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
  width: 100%;
  background-color: #f8f9fa !important;
  border-top: 1px solid lightgray;
}

.footer__owner {
  font-family: Roboto, sans-serif;
  font-size: larger;
}

.footer__contact {
  color: black;
}

