<div class="jumbotron jumbotron-fluid bg-white border-bottom">
    <div class="container"><h1 class="display-7 text-dark">Validez votre panier</h1></div>
  </div>
  <div *ngIf="shoppingCart$ | async as cart; else not_found" class="card-content">
    <div *ngIf="cart.flats && cart.flats.length > 0 || cart.lifts && cart.lifts.length > 0 || cart.stuffs && cart.stuffs.length > 0; else shopping_cart_empty">
      <div class="text-right p-3">
        <div>
          <div *ngIf="cart.flats && cart.flats.length > 0">
            <h2 class="section-title background"><span>Appartement</span></h2>
            <table class="cart-table">
              <tr>
                <th *ngFor="let key of keys(cart.flats[0])">{{key}}</th>
                <th>Supprimer</th>
              </tr>
              <tr *ngFor="let flat of cart.flats">
                <td>{{flat.flatId}}</td>
                <td>{{flat.title}}</td>
                <td>{{flat.description}}</td>
                <td>{{flat.price}}€</td>
                <td><button class="btn btn-danger" (click)="delete('flat', flat.flatId)">X</button></td>
              </tr>
            </table>
            <h5 class="section-title background"><span>Prix total pour les appartements : {{cart.totalFlatPrice}}€</span></h5>
          </div>
          <div *ngIf="cart.lifts && cart.lifts.length > 0">
            <h2 class="section-title background"><span>Forfait mécanique</span></h2>
            <table class="cart-table">
              <tr>
                <th *ngFor="let key of keys(cart.lifts[0])">{{key}}</th>
                <th>Supprimer</th>
              </tr>
              <tr *ngFor="let lift of cart.lifts">
                <td>{{lift.liftId}}</td>
                <td>{{lift.title}}</td>
                <td>{{lift.description}}</td>
                <td>{{lift.taked}}</td>
                <td>{{lift.insurance}}</td>
                <td>{{lift.price}}€</td>
                <td><button class="btn btn-danger" (click)="delete('lift', lift.liftId)">X</button></td>
              </tr>
            </table>
            <h5 class="section-title background"><span>Prix total pour les forfaits de remontés mécaniques : {{cart.totalLiftPrice}}€</span></h5>
          </div>
          <div *ngIf="cart.stuffs && cart.stuffs.length > 0">
            <h2 class="section-title background"><span>Matériel de sport</span></h2>
            <table class="cart-table">
              <tr>
                <th *ngFor="let key of keys(cart.stuffs[0])">{{key}}</th>
                <th>Supprimer</th>
              </tr>
              <tr *ngFor="let stuff of cart.stuffs">
                <td>{{stuff.stuffId}}</td>
                <td>{{stuff.title}}</td>
                <td>{{stuff.description}}</td>
                <td>{{stuff.taked}}</td>
                <td>{{stuff.price}}€</td>
                <td><button class="btn btn-danger" (click)="delete('stuff', stuff.stuffId)">X</button></td>
              </tr>
            </table>
            <h5 class="section-title background"><span>Prix total pour les materiels de sport : {{cart.totalStuffPrice}}€</span></h5>
          </div>
          <div>

          </div>
        </div>
      </div>
      <div class="text-right p-3">
        <h4 class="text-dark p-4">
          Prix total : {{cart.totalPrice}}€
        </h4>
        <button (click)="validateCart()" class="mr-lg-3 btn btn-primary">
          Valider le panier
        </button>
        <button class="mr-lg-3 btn btn-danger" (click)="delete()">Tout supprimer</button>
      </div>
    </div>
    <ng-template #shopping_cart_empty>
      <p class="text-dark text-justify text-xl-center font-weight-bold p-lg-5">Votre panier est vide</p>
    </ng-template>
  </div>
<ng-template #not_found>
  <p class="text-dark text-justify text-xl-center font-weight-bold p-lg-5">Votre panier est vide</p>
</ng-template>
