<div *ngIf="lift$ | async as lift ; else not_found">
  <div class="jumbotron jumbotron-fluid bg-white border-bottom">
    <div class="container">
      <h1 class="display-7 text-dark">{{lift.description}}</h1>
    </div>
  </div>
  <div class="card-content">
    <div *ngIf="lift.unitaire as unitaire">
      <mat-card class="lift-forfait__card">
        <mat-card-header>
          <mat-card-title>Unitaire de 1 aller/retour</mat-card-title>
        </mat-card-header>
        <span>Durée : {{unitaire.label}}</span>
        <span>Prix : {{unitaire.prices}}€</span>
        <mat-card-actions>
          <button class="btn btn-primary" (click)="showDetailLift(unitaire, lift.description)">
            <fa-icon style="color: white" [icon]="['fas', 'plus']"></fa-icon>
            Selectionner ce forfait
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div *ngIf="lift.groupe as groupe">
      <mat-card class="lift-forfait__card">
        <mat-card-header>
          <mat-card-title>Groupe de 6 aller/retour</mat-card-title>
        </mat-card-header>
        <span>Durée : {{groupe.label}}</span>
        <span>Prix : {{groupe.prices}}€</span>
        <mat-card-actions>
          <button class="btn btn-primary" (click)="showDetailLift(groupe, lift.description)">
            <fa-icon style="color: white" [icon]="['fas', 'plus']"></fa-icon>
            Selectionner ce forfait
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
<ng-template #not_found>
  <p class="text-dark text-justify text-xl-center font-weight-bold p-lg-5">
    Il n'y a pas de forfait disponible.
  </p>
</ng-template>
