
<div class="jumbotron jumbotron-fluid bg-white border-bottom">
    <div class="container">
      <h1 class="display-7 text-dark">Réserver votre forfait de telesiege</h1>
    </div>
  </div>
  <div class="card-content">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Unitaire 1 aller/retour</mat-card-title>
      </mat-card-header>
      <mat-card-actions>
        <button class="btn btn-primary" (click)="forfait('telesiege', 'unitaire')">
          <fa-icon style="color: white" [icon]="['fas', 'plus']"></fa-icon> 
          Selectionner ce forfait
        </button>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Groupe 6 aller/retour</mat-card-title>
      </mat-card-header>
      <mat-card-actions>
        <button class="btn btn-primary" (click)="forfait('telesiege', 'groupe')">
          <fa-icon style="color: white" [icon]="['fas', 'plus']"></fa-icon> 
          Selectionner ce forfait
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
