<div class="jumbotron jumbotron-fluid bg-white border-bottom">
  <div class="container">
    <h1 class="display-7 text-dark">
      Vos vacances tranquilles dans un petit coin de paradis
    </h1>
  </div>
</div>
<mat-tab-group mat-align-tabs="center" headerPosition="below">
  <mat-tab label="Famille">
    <carousel title="Pack famille" description="Voici le pack famille"></carousel>
  </mat-tab>
  <mat-tab label="Amis">
    <carousel title="Pack amis" description="Voici le pack amis"></carousel>
  </mat-tab>
  <mat-tab label="Détente">
    <carousel title="Pack détente" description="Voici le pack détente"></carousel>
  </mat-tab>
</mat-tab-group>
