.flat-card {
  transition: box-shadow 0.3s;
  margin: 1em;
  background: #fff;
  width: 30em;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.flat-card:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.card-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card-content > img {
  margin: 1em;
}

.text-flat {
  height: 200px;
  hyphens: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
}

mat-card-header {
  margin-left: 20%;
}

.carousel-img {
  min-width: 100%;
}
