<div *ngIf="flats$ | async as flats ; else not_found">
  <div class="jumbotron jumbotron-fluid bg-white border-bottom">
    <div class="container">
      <h1 class="display-7 text-dark">Réserver un appartement</h1>
    </div>
  </div>
  <div *ngIf="flats.length > 0 ; else empty_flats" class="card-content">
    <mat-card class="flat-card" *ngFor="let flat of flats">
      <mat-card-header>
        <mat-card-title>{{flat.title}}</mat-card-title>
        <mat-card-subtitle
        >Entre {{flat.nbPersonsMin}} et {{flat.nbPersonsMax}} personnes <br />
          Toilette/Salle de bain :
          <ng-template [ngIf]="flat.SdBWC" [ngIfElse]="wc">
            <fa-icon [icon]="['fas', 'check-circle']"></fa-icon>
          </ng-template>
          <ng-template #wc> <fa-icon [icon]="['fas', 'times']"></fa-icon> </ng-template>
        </mat-card-subtitle>
      </mat-card-header>
      <div>
        <ngb-carousel *ngIf="flat.images">
          <ng-template *ngFor="let image of images" ngbSlide>
            <img
              class="carousel-img"
              [src]="image"
              alt="{{flat.title}}"
              width="256"
              height="256"
            />
          </ng-template>
        </ngb-carousel>
        <mat-card-content>
          <p class="p-3 text-flat">{{flat.description}}</p>
        </mat-card-content>
      </div>
      <mat-card-actions>
        <div class="d-flex flex-column justify-content-between">
          <div *ngIf="flat.startDate && flat.endDate">
            <span>Du {{flat.startDate | localizedDate}} au {{flat.endDate | localizedDate}}</span>
          </div>
          <span class="text-black-50">Au prix de {{flat.prices}}€ {{(flat.startDate && flat.endDate)? 'au total':'par nuit'}}</span>
          <button class="btn btn-primary" (click)="showDetailFlat(flat)">
            <fa-icon style="color: white" [icon]="['fas', 'plus']"></fa-icon> Selectionner cet appartement
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
  <ng-template #empty_flats>
    <p class="text-dark text-justify text-xl-center font-weight-bold p-lg-5">
      Il n'y a pas d'appartement à voir.
    </p>
  </ng-template>
</div>
<ng-template #not_found>
  <div class="p-xl-5 d-inline-block">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
