/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
    min-height: 100%;
}

a { cursor: pointer }

.mat-tab-body-wrapper {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

label, fa-icon, h1, h2, h3, h4 {
  color: black;
}

.mat-snack-bar-container {
  background: rgba(255,255,255,0);
  color: rgba(255,255,255,0);
  box-shadow: none;
}
