.lift-detail__title {
    border-bottom: 2px solid lightgray;
    padding-bottom: 0.6em;
}

.lift-detail {
    overflow-y: auto;
}


.lift-detail-options {
    margin: 1em;
}

.lift-detail-options__title {
    border-bottom: 1px solid lightgray;
    padding-bottom: 0.5em;
    font-family: serif;
    font-size: x-large;
}

.lift-detail-options__details {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    padding: 1em;
    border-radius: 0.5em;
}

.lift-details__actions {
    padding-top: 1em;
    border-top: 1px solid lightgray; 
    display: flex;
    justify-content: space-evenly;
}

.lift-detail-prices {
    border-top: 1px solid lightgray;
    padding-top: 0.5em;
    margin: 1em;
}

.lift-detail-prices__title {
    font-family: serif;
    font-size: x-large;
}

.lift-detail-options__details-age {
    display: flex;
    justify-content: space-evenly;
}

mat-slider {
    width: 300px;
  }