<div class="jumbotron jumbotron-fluid bg-white border-bottom">
  <div class="container"><h1 class="display-7 text-dark">Validez vos informations</h1></div>
</div>
<div class="row">
  <div class="col-75">
    <div class="container">
      <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-50">
            <h3>Adresse de facturation</h3>
            <label for="fname"><i class="fa fa-user"></i> Nom </label>
            <input type="text" id="fname" name="firstname" placeholder="Francis Bossut">
            <label for="email"><i class="fa fa-envelope"></i> Adresse email </label>
            <input type="text" id="email" name="email" placeholder="francis@example.com">
            <label for="adr"><i class="fa fa-address-card-o"></i> Addresse</label>
            <input type="text" id="adr" name="address" placeholder="51 rue de paris">
            <label for="city"><i class="fa fa-institution"></i> Ville </label>
            <input type="text" id="city" name="city" placeholder="Lille">

            <div class="row">
              <div class="col-50">
                <label for="state">Region</label>
                <input type="text" id="state" name="state" placeholder="Nord">
              </div>
              <div class="col-50">
                <label for="zip">Code postal</label>
                <input type="text" id="zip" name="zip" placeholder="59800">
              </div>
            </div>
          </div>

          <div class="col-50">
            <h3>Paiement</h3>
            <label for="fname">Les cartes acceptées</label>
            <div class="icon-container">
              <fa-icon class="p-3" style="font-size: 1.5em" [icon]="['fab', 'cc-visa']"></fa-icon>
              <fa-icon class="p-3" style="font-size: 1.5em" [icon]="['fab', 'cc-mastercard']"></fa-icon>
            </div>
            <label for="cname">Nom</label>
            <input type="text" id="cname" name="cardname" placeholder="John More Doe">
            <label for="ccnum">Numero de carte</label>
            <input type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444">

            <!--<mat-form-field>
              <input matInput [matDatepicker]="exp" placeholder="Date d'expiration">
              <mat-datepicker-toggle matSuffix [for]="exp"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>-->

            <label for="cvv">CVV</label>
            <input type="text" id="cvv" name="cvv" placeholder="352">
          </div>
        </div>
        <input type="submit" value="Validez vos achats" class="btn">
      </form>
    </div>
  </div>

  <div *ngIf="cart$ | async as cart" class="col-25">
    <div class="container">
      <h4>Votre panier
        <span class="price" style="color:black">
          <fa-icon [icon]="['fas', 'shopping-cart']"></fa-icon>
          <b>Coùt appartement : {{cart.totalFlatPrice}}€</b>
          <b>Coùt materiel de sport : {{cart.totalStuffPrice}}€</b>
          <b>Coùt forfait : {{cart.totalLiftPrice}}€</b>
        </span>
      </h4>
      <p style="color: black">Total <span class="price" style="color:black"><b>{{cart.totalPrice}}€</b></span></p>
    </div>
  </div>
</div>
