<nav class="navbar navbar-light bg-light border-bottom">
  <div class="navbar-brand mb-0 h1"><a class="navbar-brand" (click)="login()" translate>
    <fa-icon [icon]="userCircle"></fa-icon>
    USER-INFO.LOGIN
  </a></div>
  <div class="navbar-brand mb-0 h1"><a class="navbar-brand" (click)="register()" translate>
    <fa-icon [icon]="userCircle"></fa-icon>
    ENREGISTREMENT
  </a></div>
  <div class="pr-3">
    <a class="mb-0 h4 text-dark" href="#/shoppingCart" [matBadgeHidden]="!visible" matBadge="0" translate>USER-INFO.SHIPCART
      <fa-icon [icon]="shoppingCart"></fa-icon>
    </a>
  </div>
</nav>
